<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
        <dict>
                <key>CFBundleIconFile</key>
                <string>OSX.icns</string>
                <key>CFBundlePackageType</key>
                <string>APPL</string>
                <key>CFBundleGetInfoString</key>
                <string>Created by Qt/QMake</string>
                <key>CFBundleSignature</key>
                <string>????</string>
                <key>CFBundleExecutable</key>
                <string>MacroinvertebrateV3</string>
                <key>CFBundleIdentifier</key>
                <string>edu.uvm.epscor.macroinvertebrate</string>
                <key>CFBundleDisplayName</key>
                <string>MacroinvertebrateFieldGuide</string>
                <key>CFBundleName</key>
                <string>MacroinvertebrateFieldGuide</string>
                <key>CFBundleShortVersionString</key>
                <string>1.0</string>
                <key>CFBundleVersion</key>
                <string>1.0</string>
                <key>LSRequiresIPhoneOS</key>
                <true/>
                <key>UILaunchStoryboardName</key>
                <string>LaunchScreen</string>
                <key>UISupportedInterfaceOrientations</key>
                <array>
                        <string>UIInterfaceOrientationPortrait</string>
                        <string>UIInterfaceOrientationPortraitUpsideDown</string>
                        <string>UIInterfaceOrientationLandscapeLeft</string>
                        <string>UIInterfaceOrientationLandscapeRight</string>
                </array>
                <key>NOTE</key>
                <string>This file was generated by Qt/QMake.</string>
                <key>CFBundleIcons</key>
                <dict>
                        <key>CFBundlePrimaryIcon</key>
                        <dict>
                                <key>CFBundleIconFiles</key>
                                <array>
                                    <string>assets/icon_16x16.png</string>
                                    <string>assets/icon_16x16@2x.png</string>
                                    <string>assets/icon_32x32.png</string>
                                    <string>assets/icon_32x32@2x.png</string>
                                    <string>assets/icon_128x128.png</string>
                                    <string>assets/icon_128x128@2x.png</string>
                                    <string>assets/icon_256x256.png</string>
                                    <string>assets/icon_256x256@2x.png</string>
                                    <string>assets/icon_512x512.png</string>
                                    <string>assets/icon_512x512@2x.png</string>
                                </array>
                        </dict>
                </dict>
        </dict>
</plist>
