QMainWindow {
  background-repeat: no-repeat;
  border-image: url(:/media/background-plain.png);
  background-position: top center;
  background-color: white; }

#titleLabel, #streamNameLabel {
  font-size: 30px;
  font-weight: bold; }

#AboutView #label {
  font-size: 30px; }

QListView {
  background-color: transparent;
  font-size: 30px; }

#StreamView {
  background-color: #E6E6E6; }
  #StreamView ::item {
    margin: 4px;
    border: 2px solid #355797;
    background-color: #E6E6E6;
    min-height: 50px;
    min-width: 250px; }

#SingleStreamView {
  background-color: transparent; }
  #SingleStreamView ::item {
    padding: 15px;
    height: 275px;
    width: 275px;
    border: 2px solid #355797;
    background-color: #EDEDED;
    border-radius: 10px; }

#SettingsView QLabel {
  font-size: 30px; }

QPushButton {
  min-width: 100px;
  min-height: 50px;
  border-radius: 10px;
  color: #355797;
  background-color: #FFFFFF;
  margin-bottom: 5px; }
  QPushButton:hover {
    background-color: #7DB3DE; }
  QPushButton:flat {
    border: none;
    /* no border for a flat push button */
    background-color: #7DB3DE; }
  QPushButton:default {
    border-color: navy;
    /* make the default button prominent */ }

QPushButton:pressed {
  background-color: #4479BA;
  border-color: #042029;
  color: #042029; }

QComboBox {
  selection-background-color: #7DB3DE;
  border: 1px solid #355797;
  border-radius: 2px;
  padding: 10px;
  color: #355797; }
  QComboBox:disabled {
    color: #CDCDCD; }

QComboBox QAbstractItemView {
  background-color: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #444; }

QComboBox, QPushButton {
  border: 2px solid #355797;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 30px;
  font-weight: bold;
  max-height: 30px; }

QScrollBar:vertical {
  width: 7px;
  margin: 16px 0 16px 0;
  border: 2px solid #355797; }
  QScrollBar:vertical:groove {
    width: 10px; }

QScrollBar::handle:vertical {
  background: white;
  min-height: 10px;
  border: 2px solid #355797; }

QScrollBar::add-line:vertical {
  border: 2px solid #355797;
  border-radius: 2px;
  height: 14px;
  subcontrol-position: bottom;
  subcontrol-origin: margin; }

QScrollBar::sub-line:vertical {
  border: 2px solid #355797;
  border-radius: 2px;
  height: 14px;
  subcontrol-position: top;
  subcontrol-origin: margin; }

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
  border: 2px solid #355797;
  width: 1px;
  height: 1px;
  background: white; }

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
  background: transparent; }

QScrollArea {
  border: 2px solid #355797;
  border-radius: 4px;
  background: transparent; }

QScrollArea:scrollAreaWidgetContents {
  background: transparent; }

QLabel#label_title, QLabel#streamName, #StreamView > #label {
  font-size: 30px; }

#scrollAreaWidgetContents QLabel {
  font-size: 30px; }

QLabel#label_image {
  border: 2px solid #355797;
  padding: 0px;
  margin: 0px; }

AboutView QLabel#label {
  font-size: 14px; }

/*# sourceMappingURL=app.css.map */
