$std_blue: #355797;
$std_border: 2px solid $std_blue;

QMainWindow {
  background-repeat: no-repeat;
  border-image: url(:/media/background-plain.png);
  background-position: top center;
  background-color: rgb(255, 255, 255);
}

QMainWindow#HomeView {
  border-image: url(:/media/background-logo.png);
  background-color: rgb(255, 255, 255);
}

QListView {
  background-color: transparent;
}

InvertebrateView {
  #widget {
    background-color: rgb(255, 255, 255);
  }
}

QPushButton {
  min-width: 80px;
  border-radius: 10px;
  color: $std_blue;
  background-color: #FFFFFF;

  &:hover {
    background-color: #7DB3DE;
  }
  &:flat {
      border: none; /* no border for a flat push button */
      background-color: #7DB3DE;
    }
  &:default {
    border-color: navy; /* make the default button prominent */
  }
}

QPushButton:pressed {
  background-color: #4479BA;
  border-color: #042029;
  color: #042029;
}

QComboBox {
  selection-background-color: #7DB3DE;
  border: 1px solid $std_blue;
  border-radius: 2px;
  padding: 10px;
  color: $std_blue;

  &:disabled {
    color: #CDCDCD;
  }
}

#SingleStreamView ::item {
  padding-bottom: 15px;
  height: 230px;
  border: $std_border;
}

QListWidgetItem {
  background: blue;
}

QComboBox QAbstractItemView {
  background-color: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #444;
}

QComboBox, QPushButton {
  border: 2px solid $std_blue;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 17px;
  font-weight: bold;
  max-height: 30px;
}

QScrollBar:vertical
{
  width: 7px;
  margin: 16px 0 16px 0;
  border: $std_border;
  &:groove {
    width: 10px;
  }
}

QScrollBar::handle:vertical
{
  background: white;
  min-height: 10px;
  border: $std_border;
}

QScrollBar::add-line:vertical
{
  border: $std_border;
  border-radius: 2px;
  height: 14px;
  subcontrol-position: bottom;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical
{
  border: $std_border;
  border-radius: 2px;
  height: 14px;
  subcontrol-position: top;
  subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical
{
  border: $std_border;
  width: 1px;
  height: 1px;
  background: white;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
  background: transparent;
}

QScrollArea {
  border: $std_border;
  border-radius: 4px;
  background: transparent;
}

QScrollArea:scrollAreaWidgetContents {
  background: transparent;
}

QLabel#label_title, QLabel#streamName, QLabel#label {
  font-weight: bold;
  font-size: 30px;
}

QLabel#label_image {
  border: $std_border;
  padding: 0px;
  margin: 0px;
}