@import "common";

#SingleStreamView {
  background-color: transparent;
  ::item {
    border: $std_border;
    background-color: #EDEDED;
    border-radius: .2em;
    // padding: .5em;
    // padding-bottom: .7em;
    // padding-top: .7em;
    // margin-bottom: .2em;
  }
}